In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
ANS:-
  DATABASE:- A database is an organized collection of data, so that it can be easily accessed and managed.
             You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.

  SQL:- 1.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).
        2.These databases have fixed or static or predefined schema.
        3.These databases are not suited for hierarchical data storage.
        4.These databases are best suited for complex queries.
        5.Vertically Scalable.
        6.It Follows ACID property.
        7.Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.
        
  NoSQL:- 1.Non-relational or distributed database system.
          2.They have dynamic schema.
          3.These databases are best suited for hierarchical data storage.
          4.These databases are not so good for complex queries.
          5.Horizontally scalable.
          6.Follows CAP(consistency, availability, partition tolerance).
          7.Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
ANS:- DDL is short name of Data Definition Language, which deals with database schemas and descriptions, 
      of how the data should reside in the database.

1.CREATE - This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
         Example:- We need to create a table for storing Student information of a particular College. Create syntax would be as below.

            CREATE TABLE Student_info
            (
            College_Id number(2),
            College_name varchar(30),
            Branch varchar(10)
            );

2.DROP - This command is used to delete objects from the database.
         Example:- If the College Authority wants to change their Database by deleting the Student_info Table. 
             DROP TABLE Student_info;

3.ALTER - This command is used to add, delete or change columns in the existing table. The user needs to know the existing table
          name and can do add, delete or modify tasks easily.
          Example:- In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.
              ALTER TABLE Student_info
              ADD CGPA number;

4.TRUNCATE - Remove all records from a table, including all spaces allocated for the records are removed.
             Example:- The College Authority wants to remove the details of all students for new batches but wants to keep the table structure.
                       The command they can use is as follows.
                TRUNCATE TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
ANS:- The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language 
      and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database.
1.INSERT-It is  allows users to insert data in database tables.
         Example:-
2.UPDATE-The UPDATE statement is used to modify the existing records in a table.
         Example:- Shown in below:-
            UPDATE Customers
            SET ContactName='Juan'
            WHERE Country='Mexico';
3.DELETE-The DELETE statement is used to delete existing records in a table.
         Example:-The following SQL statement deletes the customer "Alfreds Futterkiste" from the "Customers" table shown in below:-
             DELETE FROM Customers 
             WHERE CustomerName='Alfreds Futterkiste';

In [ ]:
Q4.  What is DQL? Explain SELECT with an example.

In [ ]:
ANS:- DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get 
     some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows 
     getting data from the database and imposing order upon it. It includes the SELECT statement. 
        
SELECT- It is used to retrieve data from the database.
        Example:-Example shown below-
            SELECT * FROM Customers;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
ANS:- A primary key:- It is a minimal set of attributes (columns) in a table that uniquely identifies tuples (rows) of that table.

Properties of primary key :-
1.The PRIMARY KEY constraint uniquely identifies each record in a table.
2.Primary keys must contain UNIQUE values, and cannot contain NULL values.
3.A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).


Foreign key:- A foreign key is the one that is used to link two tables together via the primary key. It means the columns of one table  
              points to the primary key attribute of the other table. It further means that if any attribute is set as a primary key 
              attribute will work in another table as a foreign key attribute. But one should know that a foreign key has nothing to do
              with the primary key.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
ANS:-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

cursor():- They are permanently connected to the connection, and all instructions are run in the context of the database session covered 
           by the connection. Cursors generated from the same connection arenâ€™t separated, which means that any alterations made to the 
           database by one cursor are incontinently visible to the others.
        
Execute():- The execute() method is a commonly used method in programming languages, particularly in those that support object-oriented 
            programming. The execute() method is usually defined within a class and is used to perform a specific action or task associated 
            with that class.

            In general, the execute() method takes input data or parameters, performs some computation or processing, and produces some output 
            or result. The exact behavior of the execute() method depends on the class in which it is defined and the specific implementation 
            of that method.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1.FROM clause:- This clause specifies the tables from which the data will be retrieved.

2.WHERE clause:- This clause filters the data based on the specified conditions. It is applied after the FROM clause.

3.GROUP BY clause:- This clause groups the data based on one or more columns. It is applied after the WHERE clause.

4.HAVING clause:- This clause filters the data based on group-level conditions. It is applied after the GROUP BY clause.

5.SELECT clause:- This clause selects the columns to be retrieved from the tables. It is applied after the WHERE, GROUP BY, and HAVING clauses.

6.ORDER BY clause:- This clause sorts the data based on one or more columns. It is applied after the SELECT clause.

7.LIMIT clause:- This clause limits the number of rows returned by the query. It is applied after the ORDER BY clause.